# Logs
logs
*.log
npm-debug.log*

# Environment Variables
.env

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Build files
public/bundle.js

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Local Notes
state-shape.json
